@tailwind base;
@tailwind components;
@tailwind utilities;

.vijay{
    width:100%;
    height:250px;
    object-fit:cover;
    outline: 5px solid white;
    transition: 1s ease;
    
  }
  .vijay:hover{
    transform: scale(1.1);
  }